argcomplete~=1.8
coverage~=4.3.4
coverage-env-plugin~=0.1
coverage-config-reload-plugin~=0.2
codecov~=2.0.5
freezegun~=0.3.9
moban~=0.0.9
pytest
pytest-cov
pytest-mock
requests-mock~=1.2
pip!=9.0.2, !=10.0.*
wheel~=0.29
